.menuBtn {
	width: 33.4vw;
	height: 10vh;
	margin-bottom: 2vh;
	margin-left: 10px;
	border-radius: 10px;
	border-bottom-color: white;
	border: none;
	font-family: 'Press Start 2P', cursive;
	font-size: 20px;
	color: white;
	background-color: rgb(70, 70, 70);
	cursor: pointer;
	outline: none;
	-webkit-user-select: none;
    -moz-user-select: none;
}

#menuCtn {
	width: 35vw;
	height: 48vh;
	background-color: rgb(50, 50, 50);
	border-radius: 20px;
	margin: 0 auto;
}

#container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('../assets/bg.png');
	background-repeat: no-repeat;
	background-size: cover;
}

#title {
	font-size: 60px;
	font-family: 'Press Start 2P', cursive;
	font-weight: bold;
	background: -webkit-linear-gradient(red, yellow);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;	
}

#titleContainer {
	width: 100vw;
	text-align: center;
}

td {
	width: 7.5vw;
	text-align: center;
	border: 2px solid black;
}

#tableCtn {
	width: 80vw;
	height: 50vh;
	padding-bottom: 35vh;
}

#gameTables {
	display: flex;
	width: inherit;
	height: inherit;
	position: absolute;
}

.gameDiv {
	display: flex;
	margin-left: 1vw;
	margin-top: 1vw;
}

#dp2 {
	margin-left: 2vw;
}

#dp2 div:last-child:hover {
	cursor: pointer;
}

#chat {
	height: 92vh;
	width: 30vw;
	background-color: white;
	margin-top: 4vh;
	margin-left: 5.4vw;
	border-bottom-left-radius: 1.5vh;
	border-top-left-radius: 1.5vh;
}

#chat input {
	width: 24vw;
	border-width: 2;
	border-color: black;
	margin-bottom: 0.5vh;
	margin-left: 0.5vw;
	margin-top: -1vh;
	font-family: 'Press Start 2P', cursive;
	height: 3vh;
}

#chat button {
	width: 4vw;
	font-family: 'Press Start 2P', cursive;
	background-color: transparent;
	border: none;
	color: red;
	margin-left: 0.25vw;
}

#chat button:hover {
	cursor: pointer;
}

#chat ul {
	background-color: #eaeaea;
	height: 76vh;
	overflow-y: auto;
	word-wrap: break-word;
}

#chat li {
	font-family: 'Press Start 2P', cursive;
	list-style-type: none;
	padding: 6px;
}

.tableBtn {
	font-family: 'Press Start 2P', cursive;
	background-color: transparent;
	border: none;
	color: red;
	font-size: 1.1vw;
}

.tableBtn:hover {
	cursor: pointer;
}

#roomTable {
	width: inherit;
	border-collapse: collapse;
	border: 3px solid black;
	font-family: 'Press Start 2P', cursive;
}

#roomTable tr {
	line-height: 5vh; 
}

#roomTable button {
	color: green;
}

#help {
	position: absolute;
	width: 75vw;
	top: 4vh;
	left: 2.5vw;
	font-family: 'Press Start 2P';
	font-size: 13px;
}

.hImg {
	position: absolute;
	width: 15.5vw;
	height: 15.5vw;
	right: 2.5vw;
}

#img1 {
	top: 1.8vh;
}

#img2 {
	top: 34vh;
}

#img3 {
	top: 66.2vh;
}

#helpBtn {
	position: absolute;
	top: 80vh;
	left: 42vw;
	width: 80px;
	height: 30px;
	color: red;
	cursor: pointer;
	font-family: 'Press Start 2P';
	font-size: 1.1vw;
	border: none;
	background-color: transparent;
}

li {
	font-weight: bold;
}

#roomInfo {
	background-color: white;
	position: absolute;
	width: 36vw;
	height: 19vh;
	top: 78vh;
	left: 3vw;
	border-radius: 1vw;
	font-family: 'Press Start 2P';
	font-size: 1.1vw;
	text-align: left;
	padding-left: 1vw;
}

#readyDiv {
	position: absolute;
	left: 58%;
	top: 0;
	height: inherit;
	width: 40%;
	text-align: center;
}

#readyBtn {
	width: 14vw;
	height: 8vh;
	margin-top: 2.5vh;
	border: none;
	background-color: green;
	color: white;
	border-radius: 1vw;
	font-family: 'Press Start 2P';
	font-size: 1.2vw;
	cursor: pointer;
}

#readyLabel {
	font-size: 1vw;
	width: 100%;
	border: none;
	margin-top: 2vh;
}

#timer {
	position: absolute;
	margin-top: 4vh;
	left: 22.5vw;
	font-size: 1.3vw;
	font-family: 'Press Start 2P';
	width: 20vw;
	color: rgb(255, 230, 20);
}
