.menuBtn {
	width: 33.4vw;
	height: 10vh;
	margin-bottom: 2vh;
	margin-left: 10px;
	border-radius: 10px;
	border-bottom-color: white;
	border: none;
	font-family: 'Press Start 2P', cursive;
	font-size: 20px;
	color: white;
	background-color: rgb(70, 70, 70);
	cursor: pointer;
	outline: none;
	-webkit-user-select: none;
    -moz-user-select: none;
}

#menuCtn {
	width: 35vw;
	height: 48vh;
	background-color: rgb(50, 50, 50);
	border-radius: 20px;
	margin: 0 auto;
}

#container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('../assets/bg.png');
	background-repeat: no-repeat;
	background-size: cover;
}

#title {
	font-size: 60px;
	font-family: 'Press Start 2P', cursive;
	font-weight: bold;
	background: -webkit-linear-gradient(red, yellow);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;	
}

#titleContainer {
	width: 100vw;
	text-align: center;
}

#RoomList {
	table-layout: fixed;
	width: inherit;
	border-collapse: collapse;
	border: 3px solid black;
}

td {
	width: 7.5vw;
	text-align: center;
	border: 2px solid black;
}

.tableBtn {
	border: none;
	border-radius: 2px;
	width: 10vw;
	height: 20px;
}

#tableCtn {
	width: 80vw;
	height: 50vh;
	padding-bottom: 35vh;
}

#gameCtn {
	width: inherit;
	height: inherit;
	background-color: blue;
	position: absolute;
}

#gameDiv {

}

#gameTable {

}

#dp1 {

}

#dp2 {

}

#p1 {

}

#gameHistory {

}

#chat {

}

#battleships {

}